################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ASPNET_EF_Cars.slnx/FileContentIndex/a0929270-d79d-47f1-ab58-0c528f9cb1f9.vsidx
/.vs